* {
	box-sizing: border-box;
	margin: 0;
	border-radius: 50px;
}

body {
	padding: 5px;
	text-align: center;
	height: 100vh;
	height: 100svh;
	background-color: wheat;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
	display: flex;
	flex-direction: column;
}

input {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
	font-size: 14pt;
	border: 0;
	outline-color: aquamarine;
}

input[type='submit'] {
	background-color: aquamarine;
	color: black;
	border: 0;
	padding: 5px;
	cursor: pointer;
}

input[type='submit']:hover,
input[type='submit']:focus-visible,
#index input:hover,
#index input:focus-visible {
	filter: drop-shadow(3px 3px 4px black);
}

@media (hover: none) {
	input[type='submit']:hover,
	input[type='submit']:focus-visible,
	#index input:hover,
	#index input:focus-visible {
		filter: none !important;
	}
}

input:focus-visible {
	outline-style: none;
}

input[type='submit']:disabled,
input[readonly] {
	outline: 0;
	filter: none !important;
	background-color: lightgray;
	cursor: unset;
}

.input-line {
	margin: 10px;
}

#index input:invalid {
	background-color: salmon;
}

footer {
	background-color: salmon;
	padding: 5px;
	width: fit-content;
	margin: 0 auto;
	margin-top: 5px;
	color: whitesmoke;
}

footer > a {
	color: whitesmoke;
}

footer > a:hover {
	color: aquamarine;
}

h1,
h2 {
	background-color: salmon;
	padding: 5px;
	width: fit-content;
	margin: 5px auto;
	color: whitesmoke;
}

h5 {
	padding: 5px;
}

main {
	flex-grow: 1000;
	overflow: scroll;
	border: 10px solid salmon;
	background-color: aliceblue;
	padding: 5px;
	display: flex;
	flex-direction: column;
}

main > .chat {
	display: flex;
	flex-direction: column;
	border-radius: 15px;
	padding: 5px;
	margin: 5px;
	background-color: antiquewhite;
}
main > .chat.joined {
	margin-top: -3px;
}

main > .chat.theirs {
	align-self: flex-start;
	align-items: flex-start;
	background-color: lavenderblush;
	text-align: left;
}

main > .chat.ours {
	align-self: flex-end;
	align-items: flex-end;
	background-color: lavender;
	text-align: right;
}

#rooms main > .chat * {
	text-decoration: none;
	color: unset;
}

#rooms main > .chat:hover {
	filter: drop-shadow(3px 3px 4px);
}

#chats > .chat > .author {
	font-size: small;
}

#prompt {
	margin: 5px 20px 0;
	background-color: salmon;
	padding: 10px;
}

#prompt > #message-bar {
	width: 100%;
	display: flex;
}

#prompt > #message-bar > #text {
	margin-right: 5px;
	padding-left: 5px;
	flex-grow: 1;
	width: 10px;
	border: 0;
}

#prompt > #message-bar > #text:focus {
	margin-right: 5px;
	padding-left: 5px;
	flex-grow: 1;
	border: 0;
}

#index input {
	text-align: center;
	margin: 2px;
}

main.text {
	flex-grow: 0;
	margin: 0 auto;
	margin-top: 10px;
}

main.text h4 {
	margin-top: 10px;
	margin-bottom: 0px;
}

main.text p {
	margin-bottom: 5px;
}

.gap {
	flex-grow: 1;
}
